#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
data/
cfg/
build_log.txt
use_map
stopserver
reboot_called
atupdate
__pycache__

# ignore IDE custom files
*.code-workspace

# ignore config, but not subdirs
!config/*/
config/*
sql/test_db
.vscode/tasks.json
.vscode/settings.json
tools/dmitool/.classpath
tools/dmitool/.project
tools/dmitool/.gradle/5.6.1/gc.properties
tools/dmitool/.gradle/5.6.1/executionHistory/executionHistory.lock
tools/dmitool/.gradle/5.6.1/fileChanges/last-build.bin
tools/dmitool/.gradle/5.6.1/fileHashes/fileHashes.lock
tools/dmitool/.gradle/buildOutputCleanup/buildOutputCleanup.lock
tools/dmitool/.gradle/buildOutputCleanup/cache.properties
tools/dmitool/.gradle/vcs-1/gc.properties
tools/dmitool/.settings/org.eclipse.buildship.core.prefs
tools/dmitool/bin/main/dmitool/DMI.class
tools/dmitool/bin/main/dmitool/DMIDiff.class
tools/dmitool/bin/main/dmitool/DMIException.class
tools/dmitool/bin/main/dmitool/IconState.class
tools/dmitool/bin/main/dmitool/IconStateDiff$ISAddress.class
tools/dmitool/bin/main/dmitool/IconStateDiff.class
tools/dmitool/bin/main/dmitool/Image.class
tools/dmitool/bin/main/dmitool/Main.class
tools/dmitool/bin/main/dmitool/NonPalettedImage.class
tools/dmitool/bin/main/dmitool/PalettedImage.class
tools/dmitool/bin/main/dmitool/PNGChunk.class
tools/dmitool/bin/main/dmitool/RGBA.class
